body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-left-sidebar {
  flex: 0 0 100px;
  max-width: 100px;
  transition: all 0.3s ease-in-out;
}

app-left-sidebar.collapsed {
  flex: 0 0 60px;
  max-width: 60px;
}

app-main-content {
  flex: 1;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  margin-left: 150px;
  margin-top: 60px;
}
app-main-content.sidebar-collapsed {
  margin-left: 60px;
}

